# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env

keycloak/themes/anbu-v1-keycloak-theme-6.1.5.jar
/home/anbu/anbu/drillapp/keycloak/themes/anbu-v1-keycloak-theme-6.1.5.jar
anbu-v1-keycloak-theme-6.1.5.jar